.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend .friend__avatar {
    width: 50px;
    border-radius: 35%; /* 이 경우에는 avatar 크기가 바뀔거라서 px로 줄 수 없다. 따라서 상대적인 radius가 필요하다 */
}

/* friend__avatar와 g-avatar class를 동시에 적용 (띄어쓰기 x) */
/* 띄어쓰기를 하면 friend__avatar 안에 g-avatar class를 의미 */
.friend__avatar.g-avatar { 
    /* width: 70px; */
}